<div class="p-grid">
    <div class="p-col-3">
        <h2 style="margin-bottom: 0px;">Angular-On-FHIR</h2>
        <span>An Angular template for SMART on FHIR</span>
        <p>
            <strong>Logged in as:</strong><br>
            <span *ngIf="user?.name[0].prefix?.length>0">{{user?.name[0].prefix[0]}}</span> {{user?.name[0].given[0]}} {{user?.name[0].family}}
            <p-avatar [label]="Initials(user?.name)" shape="circle" size="small"></p-avatar>
        </p>
    </div>
    <div class="p-col-9">
        <p-card header="Patient" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <p>
                Name: <b>{{ PatientName(patient?.name) }}</b>
            </p>
            <p>
                Gender: <b>{{ patient?.gender }}</b>
            </p>
            <p>
                DOB: <b>{{ patient?.birthDate }} ({{ PatientAge(patient?.birthDate, patient?.deceasedDateTime) }} years old)</b>
            </p>
            <p *ngIf="patient?.deceasedDateTime">
                Deceased: <b>{{ patient?.deceasedDateTime }}</b>
            </p>    
        </p-card>
        <p-card header="Address" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            {{ patient?.address[0].line }}<br>
            {{ patient?.address[0].city }}, {{ patient?.address[0].state }} {{ patient?.address[0].postalCode }}
        </p-card>
        <p-card header="Blood Pressure" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            Systolic: {{sys}}<br>
            Diastolic: {{dia}}
        </p-card>
        <p-card *ngIf="ldl || hdl" header="Cholesterol" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            LDL: {{ldl}}<br>
            HDL: {{hdl}}
        </p-card>
    </div>
</div>
